<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/stylesheet/api-landing-page.css">
</head>

<body>
  <div class="api-section">
    <div class="api-header">
      <h1>{{details.apiResources.apiInfo.openApiDefinition.info.title}}</h1>
    </div>
    <div class="container">
      <div class="version">
        <p>Version: <span>{{details.apiResources.apiInfo.openApiDefinition.info.version}}</span></p>
      </div>
      <div class="url">
        <p>URL: <a href={{details.apiResources.serverUrl.productionUrl}}> {{details.apiResources.serverUrl.productionUrl}} </a></p>
      </div>
    </div>
    <div class="api-description-section">
      <img class="api-image" src= {{details.apiImageSrc}}></img>
      <p class="api-description" id="api-description">{{details.apiResources.apiInfo.openApiDefinition.info.description}}</p>
    </div>
    <div id="api-details">{{{details.apiPage}}}</div>
  </div>
</body>

</html>